.navigation {
    display: flex;
    /* Use flexbox to align items */
    align-items: center;
    /* Align items vertically in the center */
    width: 100%;

}

.navigation ul,
.navigation li {
    margin: 0;
    margin-left: 60px;
    padding: 0;
}

.navigation ul {
    list-style: none;
    width: 100%;
}

.navigation li {
    float: left;
    position: relative;
    width: auto;
}

.navigation a {
    display: block;
    font-weight: bold;
    font-size: 15px;
    padding-left: 1px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
}

.navigation li:hover a {
    background: aliceblue;
}

#sub {
    visibility: hidden;
    position: absolute;
    right: 60px;

    width: 100%;
    top: 35px;
    z-index: 1;
    opacity: 0;


}

li:hover ul#sub {
    opacity: 1;

    visibility: visible;
}

#sub li {
    float: none;
    width: 100%;
}

img {
    height: 100px;
    width: 200px;
    padding-right: 35rem;
}

.container2 {
    background-image: url("https://i.pinimg.com/originals/e3/4a/b0/e34ab0ab607d7139b7a9ad39f7bc3da7.jpg");
    background-size: cover;
    /* Ensures the background image covers the entire container */
    background-attachment: fixed;
    /* Fixes the background image in place */
    height: 70vh;
    /* Adjust this according to your needs */
    overflow-y: scroll;
    /* Enables scrolling if content exceeds container height */
}

.content2 {
    position: relative;
    /* Makes the content positioned relative to the container */
    z-index: 1;
    /* Ensures the content stays on top of the background image */
    padding: 90px;
    text-align: center;
    color:white;
}
.typeofbooks
{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 90px;
}
.typeofbooks img{
    height:25rem;
    width:25rem;
}
.typeofbooks img:nth-child(1){
    padding-right: 45px;
    padding-left: 100px;
}
.typeofbooks img:nth-child(2) {
    padding-left: 45px;
    margin-right: 15rem;
}
.text
{
    display: flex;
    flex-direction: column;
    margin-left: 85px;
}

.text h3{
    font-size: 50px;
}
#learn:nth-child(1)
{
    margin-left: 2rem;
}
#learn{
    height:50px;
    width:140px;
    border-radius: 1px;
    border:1px solid black;
}
#learn:hover{
    background-color: aqua;
    color:aliceblue;
}














.newest {
    background-color: aliceblue;
}

.newest p {
    text-align: center;
    margin-bottom: 50px;
    color: grey;
}

.newest1 img {
    height: 200px;
    width: 160px;
    margin-bottom: 40px;
    box-shadow: -10px 0px 10px rgba(58, 59, 56, 0.5);
    padding-right: 20px;
    
}
.newest1 h2{
    text-align: center;
}
.newest1 p{
    text-align: center;
}



.books {
    display: flex;
    flex-direction: row;
    margin: 50px 100px 0px 50px;
}

.book1 {
    padding-right: 150px;
    position: relative;
    padding-left: 50px;
}

.book2 {
    padding-right: 150px;

    position: relative;
}

.book3 {
    padding-right: 150px;
    position: relative;
}

.book4 {
    padding-right: 150px;

    position: relative;
}

.book5 {
    position: relative;
}

#title {
    font-size: 18px;

}











.container3 {
    background-image: url("https://i.pinimg.com/originals/e3/4a/b0/e34ab0ab607d7139b7a9ad39f7bc3da7.jpg");
    background-size: cover;
    /* Ensures the background image covers the entire container */
    background-attachment: fixed;
    /* Fixes the background image in place */
    height: 50vh;
    /* Adjust this according to your needs */
    overflow-y: scroll;
    /* Enables scrolling if content exceeds container height */
}

.content3 {
    position: relative;
    /* Makes the content positioned relative to the container */
    z-index: 1;
    /* Ensures the content stays on top of the background image */
}

h1 {
    padding: 70px;
    color: white;
}




.about {
    display: flex;
    flex-direction: column;
}

.aboutus {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 5%;
    margin: 0;
}

